/*

*/

body {
  margin: 0 auto;
  max-width: 75%;
}

header h1 {
  color: #CC546C;
  background-color: #82FFDE;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

section p {
  color: #117399;
  background-color: #FFC8C2;
  font-family: 'Sarala', sans-serif;
  line-height: 30px;
  padding: 10px;
}

section img {
  display: inline-block;
  max-width: 100%;
}


@media (min-width: 650px) {
  body {
    max-width: 65%;
  }
}
