body {
  font-size: 18px;
  font-family: arial;
  background-color: #D9EDA4;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, [col] 1fr);
  grid-template-rows: auto 98vh;
}

#main-header,
#main-content {
  grid-column: col / span 4;
}

#main-header {
  grid-row: 1;
  text-align: center;
}

#main-header a {
  margin: 5%;
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
}

#main-header a:nth-child(1) {
  display: block;
}


#main-content {
  align-self: center;
  justify-self: center;
}

#main-content h1 {
  margin: 0;
  padding: 0;
  color: #fff;
}


@media all and (min-width: 1140px) {
  #container {
    grid-template-rows: 100vh;
  }

  #main-content {
    grid-row: 1;
    justify-self: start;
  }

  #main-header {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: end;

  }

  #main-header a {
  }

  #hero-img {
    z-index: -1;
    background-image: url('../imgs/top-view-plant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    grid-column: col / span 4;
    grid-row: 1;
  }
}
